@charset "UTF-8";

div.quadrado {

        border: 2px solid black;
        background-color: grey;
        width: 100;
        height: 300px;
}

div#flor {
    background-image: url("imagens/background001.jpg");

}